*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #0b1d3a;
    color: white;
    display: flex;
}

/* Sidebar */

.sidebar{
    width: 220px;
    height: 100vh;
    background-color: #10264d;
    padding: 20px;
}

.sidebar h2{
    margin-bottom: 20px;
    font-size: 28px;

    background: linear-gradient(90deg, #1e90ff 0%, #ffffff 50%, #1e90ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.6));
}

.sidebar ul{
    list-style: none;
}

.sidebar li{
    margin-top: 15px;
}

.sidebar a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.sidebar a:hover{
    color: #87cefa;
}

/* Conteúdo */

.conteudo{
    padding: 30px;
    width: 100%;
}

.conteudo h1{
    margin-bottom: 25px;
    font-size: 40px;

    background: linear-gradient(90deg, #1e90ff 0%, #ffffff 50%, #1e90ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.6));
}

/* Cards */

.card{
    background-color: #16325c;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card h2{
    margin-bottom: 10px;
    color: #87cefa;
}

.card p{
    line-height: 1.6;
}